<!DOCTYPE html>
<html>
<head>
        <meta charset=utf-8 />
        <title>SyncTube</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/static/styles/master.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/static/styles/font-awesome.min.css" />
</head>
<body>
    <div class='choose-items' id='choose-player'>
      <i class='choose-items fa fa-10x fa-television'> </i>
      <p class='menu-title'>Player</p>
    </div>
    <div class='choose-items' id='choose-controller'>
      <i class='choose-items fa fa-mobile fa-10x '> </i>
      <p class='menu-title'>Controller</p>
    </div>
    <script type="text/javascript" src="/static/scripts/menu.js"></script>
</body>
</html>
